table {
  width: 30%;
  background-color: #fff;
  border: 1px solid black;
  border-collapse: collapse;
}

.mat-header-cell {
  font-weight: bold;
  color: #333;
}

.mat-row:hover {
  background-color: #f5f5f5;
}

.mat-paginator {
  background-color: #fafafa;
}

button.mat-flat-button.primary {
  background-color: #1976d2;
  color: white;
  margin-right: 5px;
}

button.mat-flat-button.warn {
  background-color: #d32f2f;
  color: white;
}

