<div class="d-flex">
  <ul>
    <li *ngFor="let elemento of NoSeleccionado; let i = index" (click)="seleccionar(elemento, i)">
      {{elemento.valor}}
    </li>
  </ul>

  <div class="d-flex flex-column justify-content-center mx-1">
    <button class="btn btn-primary p-1" type="button" (click)="seleccionaTodo()">&gt;&gt;</button>
    <button class="btn btn-primary p-1" type="button" (click)="deseleccionaTodo()">&lt;&lt;</button>
  </div>

  <ul>
    <li *ngFor="let elemento of Seleccionados; let i = index" (click)="deseleccionar(elemento, i)">
      {{elemento.valor}}
    </li>
  </ul>
</div>
