
<div class="d-flex justify-content-center align-items-center">
  <form (ngSubmit)="guardarCambios()" [formGroup]="form" class="p-4 border rounded shadow bg-white" [style.width]="'350px'">
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Ingrese el nombre del género">
      <mat-error>{{obtenerNombreCampo()}}</mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-between">
      <button mat-flat-button color="primary" type="submit"
       [disabled]="form.invalid">Guardar</button>
      <a mat-stroked-button color="warn" routerLink="/generos">Cancelar</a>
    </div>
  </form>
</div>
