mat-toolbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
a.mat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

app-autorizado{
  display: flex;
}

.espacio{
  flex: 1 1 auto;
}
.saludo{
  font-size: 18px;
  display: inline;
}

.menu-izquierda {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-derecha {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Este es el truco que empuja todo lo de la derecha */
.spacer {
  flex: 1 1 auto;
}
