<div class="d-flex justify-content-center align-items-center">
  <form (submit)="guardaCambios()" [formGroup]="form">
    <div class="d-flex flex-column mt-2 mb-4">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput title="titulo" [formControl]="form.controls.titulo">
        <mat-error>{{ obtenerErrorCampoTitulo() }}</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="outline">
        <mat-label>Fecha Lanzamiento</mat-label>
        <input matInput title="fecha" [matDatepicker]="picker" [formControl]="form.controls.fechaLanzamiento">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-error>{{ obtenerErrorCampoFecha() }}</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="outline">
        <mat-label>Trailer</mat-label>
        <input matInput title="Trailer"  [formControl]="form.controls.trailer">
      </mat-form-field>
      <div class="ms-5">
        <app-input-img titulo="Poster de la Película"[urlImgenActual]="modelo?.poster"
       (archivoSeleccionado)="archivoSeleccionado($event)">
      </app-input-img>
      </div>
      <div class="d-flex justify-content-between mt-4">
      <button type="submit" mat-flat-button class="primary" [disabled]="form.invalid">Guardar</button>
      <a mat-stroked-button class="warn" routerLink="/">Cancelar</a>
    </div>
    </div>



  </form>
</div>
