<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
      <span class="text-danger">No hay peliculas disponibles</span>
  </ng-container>
  <ng-container contenido>

    <div class="d-flex flex-wrap">
      @for (pelicula of peliculas; track $index) {
        <div class="border-5">
          <a>
            @if (pelicula.poster) {
            <img [src]="pelicula.poster" class="ms-3 card-img-top" alt="..." [style.width.px]="180" [style.height.px]="150">
              } @else {
                <img src="default.png" class="card-img-top" alt="..." [style.width.px]="180" [style.height.px]="150">
              }
          </a>
          <p class="text-center fw-bolder">
          {{pelicula.titulo}}
          </p>
          <div class="d-flex justify-content-center">
            <app-rating [maximoRating]="5" (votado)="procesarVoto($event)"></app-rating>
          </div>
          <div class="d-flex justify-content-between">
            <button mat-flat-button class="secondary" [routerLink]="['pelicula/editar', pelicula.id]">Editar</button>
            <button mat-flat-button class="warn" [swal]="{title: 'confirmacion', text: 'Deseas borrar el registro?', showCancelButton: true}" (confirm)="borrar(pelicula.id)" >Borrar</button>
          </div>
        </div>
      }
    </div>
  </ng-container>
</app-listado-generico>

